body {
width: 100%;
height: 100px;
background-color: pink;
}
h1 {
font-family: 'Montserrat', sans-serif;
color: red;
display: flex;
justify-content: center;
align-items: center;
}
h2{
color: aliceblue;
display: flex;
margin-left: 200px;
margin-right: 50px;
}
p{
font-size: 30px;
color: red;
display: flex;
justify-content: center;
}
.spring-img{
max-width: 100%;
width: 700px;
height: 500px;
margin-left: 200px;
}
.spring{
margin-top: 100px;
}
.spring-climate{
display: flex;
flex-direction: row;
margin-left: 200px;
justify-content: space-between;
}
.march{
color: aliceblue;
font-size: 30px;
}
.april{
color: aliceblue;
font-size: 30px;
}
.may{
color: aliceblue;
font-size: 30px;
}
.side-nav {
    margin: 0;
    width: 150px;
    background-color: red;
    position: fixed;
    height: 100%;    
}
.side-nav a {
    display: block;
    color: pink;
    padding: 15px;
    display: flex;
    align-items: stretch;
    font-size: 25px;
}
.side-nav a:hover {
    background-color: pink;
    color: aliceblue;
}
.img{
display: flex;
justify-content: center;
align-items: center;
padding-left: 12rem;
width: 50%;
height: auto;
}
.summer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 10rem;
}
@media screen and (max-width: 700px) {
    .side-nav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .side-nav a {
        float: left;
    }
 }
@media screen and (max-width: 400px) {
    .side-nav a {
      text-align: center;
      float: none;
    }
}
@media screen and (max-width:900px){
    .spring-climate {
        width: 100%;
        height: auto;
        text-align: center;
        flex-wrap: wrap;
        display: flex;
    }
    .spring-climate a {
        float: left;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }    
}
@media screen and (max-width: 400px) {
    .spring-climate a  {
      text-align: center;
      float: none;
    }
}
@media screen and (max-width: 400px){
     .spring-img , .img {
        display: flex;
        flex-wrap: wrap;
        float: left;
        width: 50%;
     }    
}